@use "/src/scss/colors.scss";
@use "/src/scss/mixins.scss";

.meetPixelmate {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-self: center;

  .smallHeading {
    font: normal normal bold 16px/19px Montserrat;
    color: colors.$primary;
    margin-bottom: 25px;
  }

  .heading {
    font: normal normal 800 48px/64px Montserrat;
    width: 50%;
    margin-bottom: 40px;
  }

  .text {
    display: flex;
    justify-content: space-between;
    font: normal normal normal 18px/30px Montserrat;
    margin-bottom: 30px;
    p {
      width: 48%;
    }
  }

  button {
    @include mixins.blueButtonStyle;
    width: fit-content;
    margin: auto;
  }
}

.bgImg {
  position: absolute;
  z-index: -10;
  grid-area: main;
  justify-self: end;
  margin-top: 10px;
}
