@use "/src/scss/colors.scss";
@use "/src/scss/mixins.scss";

.designerDetailContainer {
  grid-area: main;
  display: flex;

  align-items: center;

  & > div {
    display: flex;
  }

  .designerDetails {
    flex: 1;
    flex-direction: column;

    button {
      background-color: colors.$primaryLight;
      border: none;
      border-radius: 24px;
      width: fit-content;
      color: colors.$primary;
      padding: 15px 34px 15px 34px;
      margin-bottom: 25px;
      font: normal normal bold 16px/19px Montserrat;
      text-transform: uppercase;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      img {
        margin-right: 10px;
        transform: rotate(180deg);
      }
    }
  }

  .img {
    flex: 2;
    justify-content: center;
  }
}

.username {
  font: normal normal medium 24px/30px Montserrat;
  color: colors.$darkPrimary;
  margin: 0 0 10px 0;
}

.name {
  font: normal normal bold 38px/34px Montserrat;
  color: colors.$darkPrimary;
  margin: 0 0 13px 0;
}
.email {
  font: normal normal medium 24px/30px Montserrat;
  color: colors.$grey;
  margin: 0 0 36px 0;
}
.address {
  background-color: colors.$primaryLight;
  margin: 0 0 33px 0;
  border-radius: 19px;
  position: relative;
  padding: 18px;
  display: flex;
  img {
    margin-right: 15px;
    align-self: flex-start;
  }
  p {
    margin: 0;
    font: normal normal normal 16px/24px Montserrat;
  }
  .heading {
    font: normal normal bold 18px/22px Montserrat;
    margin-bottom: 7px;
  }
}
.website {
  font: normal normal medium 20px/30px Montserrat;
  color: #1232f9;
  margin: 0 0 43px 0;
  text-align: center;
}

.company {
  box-shadow: 0px 20px 70px #16181c1a;
  border-radius: 25px 25px 25px 0px;
  padding: 30px;

  p {
    font: normal normal normal 18px/30px Montserrat;
    margin: 0;
  }

  .heading {
    font: normal normal bold 18px/34px Montserrat;
    margin-bottom: 14px;
  }
}
