@use "/src/scss/colors.scss";

.sponsors {
  position: absolute;
  grid-area: main;
  height: 13%;
  background-color: colors.$white;
  width: 100%;
  bottom: 1%;
  box-shadow: 0px 4px 35px #0000001f;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
